<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <form class="form-horizontal" [formGroup]="postTweetForm" (ngSubmit)="postTweet(postTweetForm.value)">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleTextarea">Post tweet <i class="fa fa-twitter"></i></label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" formControlName="text"></textarea>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6" align="right">
                      <button type="submit" class="btn btn-primary">Post</button>
                  </div>
              </div>
          </form>
        </div>
    </div>
    <div class="row justify-content-md-center posts" *ngFor="let tweet of tweets" (click)="showDetailsModal(tweet)">
        <div class="col-md-6" align="center">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title" align="left" style="font-size: 14px">{{tweet.postedBy}}</h4>
                    <p class="card-text">{{tweet.body}}</p>
                    <div class="actions" align="left">
                        <a class="btn btn-xs btn-secondary" (click)="likeTweet(tweet.id); $event.stopPropagation();"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        <a class="btn btn-xs btn-secondary" (click)="showCommentModal(tweet); $event.stopPropagation();"><i class="fa fa-comments" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
