<div class="container">
    <div class="row justify-content-md-center" *ngIf="tweet">
        <div class="col-md-6" align="center">
            <h4 class="card-title" align="left" style="font-size: 14px">{{tweet.postedBy}}</h4>
            <p class="card-text">{{tweet.body}}</p>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-md-center" *ngIf="tweet">
        <div class="col-md-12" align="center">
              <form class="form-horizontal" [formGroup]="replyForm" (ngSubmit)="sendReply(replyForm.value)">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="exampleTextarea" align="left">Send reply <i class="fa fa-twitter"></i></label>
                              <textarea class="form-control" id="exampleTextarea" rows="3" formControlName="text"></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12" align="right">
                          <button type="submit" class="btn btn-secondary">Send</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
